.boxe{
    position:absolute;
    top:80px;
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:5px;
}
.Profile{
    position: relative;
    background:white;

    padding:2% 4% 2% 4%;
    width:600px;
    border-radius: 0px 0px 5px 5px;

}
.leftpro{
    position:relative;
    margin-top:2%;
    width:30%;
    display: inline-block;
    vertical-align: text-top;
}
.rightpro{
    width:68%;
    display: inline-block;
    vertical-align: text-top;

}
.hpro{
    font-size:30px;
    color: white;
    padding:2% 4% 2% 4%;
    width:600px;
    background:#207a85;     
    border-radius: 5px 5px 0px 0px;
}
.edit{
    position: absolute;
    bottom:0;
    right:0;
    cursor: pointer;
}
.tr{
    width:55%; 
    display:inline-block; 
    margin: 10px 10px 10px 10px; 
    color:#a4a4a4;
}
.tl{
    width:30%; 
    display:inline-block; 
    margin: 10px 10px 10px 10px; 
    color:#a4a4a4;
}
.picpro{
    margin-left:10%;
    cursor:pointer; 
    border-radius:70%; 
    width:70%;
}
.picpro:hover{
    opacity:30%
}
.pichov{
    position:absolute;
    opacity:100%;
    margin-left:10%;
    cursor:pointer; 
    border-radius:70%; 
    width:70%;
}
.propop{
    width:600px;
    margin: auto;
    padding: 0;
    color: #aaaaaa;
}


.ip{
    width:90%;
    padding: 5px;
    border-radius: 2px;
    color: #a4a4a4;
    border:0.5px solid #aaaaaa;
  }

.save{
    padding:5px 10px;
    background-color:#47b6c7;
    border:none;
    border-radius: 2px;
}

.cancel{    
    padding:5px 10px;
    background-color: #e1e1e1;
    border:none;
    border-radius: 2px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .upload-btn-wrapper:hover {
    opacity: 0.5;
  }
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }